body {
    overflow: hidden;
}

header {
    margin: auto;   /* centers header */
    max-width: 1400px;
}

/* menu section */
.menu-button {
    display: none;
}

.menu-area {
    display: flex;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Macondo", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-left: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

/* search bar */
.search-container {
    display: flex;
    align-items: center;    /* vertically centers items */
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1.5rem;
}

input {
    width: calc(100% - 20px);
    margin: 0px 10px;
    border: none;
    font-size: 2rem;
}

input:focus {
    outline: none;
}

/* buttons */
.button-container {
    display: flex;
}

button {
    margin: 10px 5px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50px;
    background-color: dodgerblue;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

button:hover {
    background-color: blue;
}

.generate-button {
    width: 150px;
}

.generate-button:first-child {
    margin-left: 0px;
}

/* gifs */
.output-area {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    height: 80vh;
    max-width: 1400px;
    overflow-y: scroll;
}

/* for mobile and tablet devices */
@media screen and (max-width:768px) {

header {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
}

/* menu section */
.menu-button {
    display: block;
    color: white;
    padding: 10px;
    align-self: flex-end;
    font-size: 1.5rem;
}

.menu-button:hover {
    background-color: transparent;
}

.menu-area {
    display: none;
    color: white;
    align-items: center;
}

.active {
    display: flex;
    flex-direction: column;
}

ul {
    flex-direction: column;
}

li {
    padding: 0;
}

a, a:visited {
    color: white;
}

/* search bar */
.search-container {
    border: 0;
    border-radius: 0;
    color: white;
    padding: 10px;
}

input {
    background-color: dodgerblue;
    color: white;
}

input::placeholder {
    color: white;
}

/* buttons */
.button-container {
    flex-direction: column;
}

button {
    margin: 0;
    border-radius: 0;
}

.generate-button, .pagination-button {
    width: 100%;
}

.pagination-container {
    display: flex;
}

/* gifs */
.output-area {
    height: 70vh;
}

img {
    width: 100%;
}

}