body {
    overflow: hidden;
}

header {
    margin: auto;   /* centers header */
    max-width: 1400px;
}

/* search bar */
.search-container {
    display: flex;
    align-items: center;    /* vertically centers items */
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1.5rem;
}

input {
    width: calc(100% - 20px);
    margin: 0px 10px;
    border: none;
    font-size: 2rem;
}

input:focus {
    outline: none;
}

/* buttons */
.button-container {
    display: flex;
}

button {
    margin: 10px 5px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50px;
    background-color: dodgerblue;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

button:hover {
    background-color: blue;
}

.generate-button {
    width: 150px;
}

.generate-button:first-child {
    margin-left: 0px;
}

/* gifs */
.output-area {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    height: 80vh;
    max-width: 1400px;
    overflow-y: scroll;
}

img {
    min-height: 30%;
}

/* for mobile and tablet devices */
@media screen and (max-width:768px) {

/* search bar */
.search-container {
    background-color: dodgerblue;
    border: 0;
    border-radius: 0;
    color: white;
    padding: 10px;
}

input {
    background-color: dodgerblue;
    color: white;
}

input::placeholder {
    color: white;
}

/* buttons */
.button-container {
    flex-direction: column;
}

button {
    margin: 0;
    border-radius: 0;
}

.generate-button, .pagination-button {
    width: 100%;
}

.pagination-container {
    display: flex;
}

/* gifs */
.output-area {
    height: 75vh;
}

img {
    min-height: 40%;
}

}